<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <h1>
        Nosotros
    </h1>
    <p>
        Astro es el mejor framework para crear aplicaciones web, es rápido, seguro y fácil de usar.
        Es mejor que react, angular, vue, laravel, django, ruby on rails, etc, etc, etc.
    </p>
</body>
</html>